.input {
  padding: 16px 16px;
  width: 100%;
  max-height: 45px;
  height: 100%;
  font-size: 1rem;
  line-height: 19px;
  border-radius: var(--border-radius-block);
  outline: none;
  border: 1px solid var(--border-color);

  &::placeholder {
    color: var(--pale-font-color);
    font-size: 1rem;
  }

  &.withVisiblePlaceholder {
    padding: 26.5px 30px 8.5px 18px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
}

.title {
  position: absolute;
  top: 8.5px;
  left: 18px;
  font-size: 0.75rem;
  color: var(--pale-font-color);
  z-index: 1;
}
